body{
    background-color: #61826c;
    margin: 0;
}

.caixaprincipal{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.logo1{
    width: 227px;
    margin-left: 170px;
}

h1{
    position: absolute;
    top: 95px;
    right: 300px;
    color: white;
}

.principal{
    background-color: white;
    padding: 30px;
    color: #61826c;
}

.titulo_principal{
    padding-left: 20px;
}

.titulo_centralizado{
    text-align: left;
    font-size: 35px;
}

p{
    text-align: left; 
    font-size: 25px;
}

#missao em > strong{
    color: #27352C;
}

.itens{
    font-style: italic;
    font-size: 25px;
}

.equipe{
    position: relative;
    padding: 20px;
    color: white;
}

.p{
    position: absolute;
    margin-left: 65px;
    margin-top: 0px;
}

.p1{
    position: absolute;
    margin-left: 630px;
    margin-top: 0px;

}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
}

.chef1{
    width: 280px;
    height: 350px;
}

.chef2{
    width: 280px;
    height: 350px;
}

.menu{
    background-color: #CCCCCC;
}

.listamenu{
    font-size: 30px;
}

h4{
    font-size: 25px;
}

.pratos{
    text-align: left;
    font-size: 20px;
}