body{
    margin: 0;
    background-color: #132352;
}

.caixaprincipal{
    display: flex;
    position: relative;
    justify-content: center;
    gap: 25px;
}

.dados {
    flex-direction: column;
    margin-top: 35px;
}

.botao {
    margin-top: 20%;
    margin-left: 18%;
}

.profilepic{
    width: 280px;
    height: 280px;
    margin-left: 30px;
}
h1{
    color: white;
    font-family: 'Playfair', serif;
}
.p1{

    text-align: left;
}
p{
    color: white;
    text-align: center;
    font-family: 'Playfair', serif;
    font-size: 30px;
}
header{
    padding: 20px 0;
}
.caixa{
    display: flex;
    justify-content: center;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    font-family: 'Playfair', serif;
}
.button {
    border-radius: 0.2rem;
    background-color:white;
    padding: 1rem 2rem;
    color: #132352;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Playfair', serif;
}
#about{
    color: white;
    text-align: center;
    font-family: 'Playfair', serif;
}
.about{
    margin: 15px 15px;
    color: white;
    position: relative;
    top: 100px;
    font-size: 22px;
    font-family: 'Playfair', serif;
    background-color: #091129;
    border-radius: 20px;
    padding: 10px 0;
}
.projects{
    position: relative;
    top: 150px;
    color: white;
    font-size: 35px;
    font-family: 'Playfair', serif;
    text-align: center;
}
.project-image{
    width: 200px;
    position: relative;
    top: 225px;
    left: 30px;
}
.projec-title1 {
    position: relative;
    top: 0;
    margin-left: 250px;
    color: white;
    font-size: 35px;
    font-family: 'Playfair', serif;
}
.project1{
    color: white;
    position: relative;
    margin-left: 250px;
    font-family: 'Playfair', serif;
    text-align: start;
}

.project-image2 {
    margin-top: 42px;
    width: 200px;
    height: 200px;
}

.projec-title2 {
    color: white;
    font-size: 35px;
    font-family: 'Playfair', serif;
}

.project2 {
    text-align: left;
}

.mario {
    display: flex;
    margin-top: 100px;
    margin-left: 30px;
}

.footer{
    position: relative;
    top: 200px;
    margin-left: 47%;
    
}
.finalfooter{
    position: relative;
    top: 200px;
}

@media (max-width: 768px) {

    .project-image2 {
        height: 180px;
        margin-top: 75px;
    }

    .caixaprincipal {
        margin: 0;
    }
    
}
@media screen and (max-width: 480px) {
    .caixaprincipal {
        margin: 0;
        flex-direction: column;
    }
}

.finalfooter a{
    text-decoration: none;
    color: white;
}